
{% extends 'entrepriseIndex.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        main{
            padding-left: 0;
        }
    </style>
{% endblock %}

{% block body %}
    {% block header %}
        {{ parent() }}
    {% endblock %}
    {% block content %}
        {{ parent() }}
        <main class="pt-5 mx-lg-6">
            <div class="container-fluid mt-5">
                <div class="card card-cascade narrower mb-4">
                    <div class="view view-cascade py-3 gradient-card-header info-color-dark mx-4 d-flex justify-content-between align-items-center">
                        <a href="" class="white-text mx-3">Liste des etablissement de l'Unuversite Nazi Boni</a>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="table_id" class="table text-nowrap">
                                <thead style="background-color: lightseagreen;">
                                <tr>
                                    <th>Matricule</th>
                                    <th>Nom</th>
                                    <th>Prenoms</th>
                                    <th>Promotion</th>
                                    <th>Telephone</th>
                                    <th>Email</th>
                                    <th>Voire plus</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for diplome in diplomes %}
                                    {% if diplome is not null %}
                                        <tr>
                                            <td>{{ diplome.etudiant.matricule }}</td>
                                            <td>{{ diplome.etudiant.nom }}</td>
                                            <td>{{ diplome.etudiant.prenom }}</td>
                                            <td>{{ diplome.etudiant.promotion }}</td>
                                            <td>{{ diplome.etudiant.telephone }}</td>
                                            <td>{{ diplome.etudiant.email }}</td>
                                            <td>
                                                <ul class="list-unstyled list-group list-group-horizontal">
                                                    <li class="list-inline">
                                                        <a class="btn btn-sm btn-success ml-2 px-2" href="{{ path('etudiant_show', {'id': diplome.etudiant.id}) }}"><i class="fas fa-plus"></i> Voir plus

                                                        </a>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <hr class="my-0">
                    </div>
                </div>
            </div>
        </main>
    {% endblock %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {

            $('#table_id').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json",
                    scrollY: 400
                }
            });

            var etudiant = $('#idEtudiant').text();
            $('.datepiker').datepicker({
                uiLibrary: 'bootstrap4'
            });
            $('#form_diplome').on('submit', function (e) {
                e.preventDefault();
                $.ajax({
                    type:'POST',
                    data:$(this).serialize(),
                    dataType: 'JSON',
                    url: Routing.generate('diplome_etudiant')
                }).done(function (data) {
                    if(data === 'ok')
                    {
                        alert('Diplome ajouter avec succes');
                        $(location).attr('href',Routing.generate('etudiant_show',{'id':etudiant}));
                    }else if(data === 'Nok') alert('Impossible d\'ajouter le diplome');
                })
            });

            $('#form_experience').on('submit', function (e) {
                e.preventDefault();
                $.ajax({
                    type:'POST',
                    data:$(this).serialize(),
                    dataType: 'JSON',
                    url: Routing.generate('entreprise_etudiant')
                }).done(function (data) {
                    if(data === 'ok')
                    {
                        alert('Entreprise ajouter avec succes');
                        $(location).attr('href',Routing.generate('etudiant_show',{'id':etudiant}));
                    }else if(data === 'Nok') alert('Impossible d\'ajouter l\'entreprise');
                })
            });

            $('#form_photo').on('submit', function (e) {
                e.preventDefault();
                $.ajax({
                    type:'POST',
                    data:$(this).serialize(),
                    dataType: 'JSON',
                    url: Routing.generate('etudiant_addPhoto')
                }).done(function (data) {
                    if(data === 'ok')
                    {
                        alert('Photo modifier');
                    }else if(data === 'Nok') alert('Impossible de modifier la photo');
                })
            });

            $('#form_certificat').on('submit', function (e) {
                e.preventDefault();
                $.ajax({
                    type:'POST',
                    data:$(this).serialize(),
                    dataType: 'JSON',
                    url: Routing.generate('certificat_etudiant')
                }).done(function (data) {
                    if(data === 'ok')
                    {
                        alert('Certificat ajouter avec succes');
                        $(location).attr('href',Routing.generate('etudiant_show',{'id':etudiant}));
                    }
                })
            });
        });
    </script>
{% endblock %}





