{% trans_default_domain 'FOSUserBundle' %}

<div class="wrapper">
    <div class="form-signin">
        <div class="login-logo" align="center">
            <img src="{{ absolute_url(asset('images/login_logo.jpg'))}}" id="image-logo">
            <h3>Créer un compte</h3>
        </div>
        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}

        {{ form_errors(form) }}
        <div class="md-form">
            {{ form_label(form.username) }}
            {{ form_widget(form.username) }}
            {{ form_errors(form.username) }}
        </div>
        <div class="md-form">
            {{ form_label(form.email) }}
            {{ form_widget(form.email) }}
            {{ form_errors(form.email) }}
        </div>
        <div class="md-form">
            {{ form_label(form.plainPassword.first) }}
            {{ form_widget(form.plainPassword.first)}}
            {{ form_errors(form.plainPassword.first) }}
        </div>
        <div class="md-form">
            {{ form_label(form.plainPassword.second) }}
            {{ form_widget(form.plainPassword.second) }}
            {{ form_errors(form.plainPassword.second) }}
        </div>
        <div class="mdl-card__actions mdl-card--border" align="center">
            <input type="submit" class="btn btn-primary btn_ btn-sm text-uppercase" value="{{ 'registration.submit'|trans }}" /><br/>
            <a href="{{ path('fos_user_security_login') }}">Connexion</a>
        </div>
        {{ form_end(form) }}

    </div>

</div>

