{% extends 'base.html.twig' %}

{% block body %}
    <style>
        .demo-card-wide.mdl-card {
            width: 512px;
            margin: 2% 0 1% 2%;
        }
        .demo-card-wide > .mdl-card__title {
            color: #fff;
            height: 176px;
        }
        .demo-card-wide > .mdl-card__menu {
            color: #fff;
        }
    </style>
    <div style="background-image: url('{{ absolute_url(asset('images/b.jpg'))}}');background-repeat: repeat;width: 100%">
        <div align="center" style="margin: 0 0 0 25%">
            <div><h1 style="">Ajouter votre compte</h1></div>
            <div class="row" style="margin: 0 1% 0 1%">
                <div class="demo-card-wide mdl-card mdl-shadow--2dp">
                    <div class="mdl-card__title" style="height: auto">
                        <h2 class="mdl-card__title-text" style="color: #ff4081; width: 100%"></h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <a href="{{ path('fos_user_security_logout') }}">Se connecter</a>
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <input type="submit" value="Create" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" style="background-color: #388e3c;color: white"/>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}
