{% extends 'principale.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {% block header %}
        {{ parent() }}
    {% endblock %}
    {% block content %}
        {{ parent() }}
        <main class="pt-5 mx-lg-6">
            <div class="container-fluid mt-5">
                <div class="card card-cascade narrower mb-4">
                    <div class="view view-cascade py-3 gradient-card-header info-color-dark mx-4 d-flex justify-content-between align-items-center">
                        <a href="" class="white-text mx-3">Nouvelle Annonce</a>
                        <a href="{{ path('annonce_index_admin') }}" class="btn btn-sm btn-info ">
                            <i class="fas fa-list"></i> Voire la liste
                        </a>
                        <a href="{{ path('annonce_new') }}" class="btn btn-sm btn-info ml-2">
                            <i class="fas fa-plus-circle"></i> Ajoueter
                        </a>
                    </div>
                    <div class="card-body" align="center">
                        <div class="card col-md-10">
                            <h5 class="card-header info-color white-text text-center py-4">
                                <strong>Nouvelle Annonce</strong>
                            </h5>
                            <div class="card-body px-lg-5 pt-0 mb-1">
                                {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                                <div class="row">
                                    <div class="col-md-6">
                                        {{ form_label(form.intitule) }}
                                        {{ form_widget(form.intitule) }}
                                        {{ form_errors(form.intitule) }}
                                    </div>
                                    <div class="col-md-6">
                                        {{ form_label(form.natures) }}
                                        {{ form_widget(form.natures) }}
                                        {{ form_errors(form.natures) }}
                                    </div>

                                </div>
                                <p></p>
                                <p></p>
                                <div class="row" align="center">
                                    {{ form_label(form.information) }}
                                    {{ form_widget(form.information) }}
                                    {{ form_errors(form.information) }}
                                </div>
                                <p></p>
                                <p></p>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="col-md-4">
                                            {{ form_label(form.pieceFile) }}
                                            {{ form_widget(form.pieceFile) }}
                                            {{ form_errors(form.pieceFile) }}
                                        </div>
                                    </div>
                                    <div class=" col-md-6">
                                        {{ form_label(form.dateFin) }}
                                        {{ form_widget(form.dateFin) }}
                                        {{ form_errors(form.dateFin) }}
                                    </div>
                                </div>
                                <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Enregistrer</button>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </main>
    {% endblock %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(function () {
            $('.select2Diplomes').select2({
                them: 'classic',
                allowClear: true,
                cache: true
            })
        })
    </script>
{% endblock %}
