{% extends 'index.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {% block header %}
        {{ parent() }}
    {% endblock %}
    {% block content %}
        <main class="pt-5 mx-lg-6">
            <div class="container-fluid mt-5 " align="center">
                {{ parent() }}
                        <div class="card col-md-6 mb-1 ">
                            <h5 class=" card-header info-color white-text text-center py-4">
                                <strong>Changer Mes Infos</strong>
                            </h5>
                            <div class="card-body px-lg-5 pt-0">
                                    {{ form_start(edit_form) }}
                                    <div class="md-form">
                                        {{ form_widget(edit_form.telephone) }}
                                        {{ form_label(edit_form.telephone) }}
                                    </div>
                                    <div class="md-form">
                                        {{ form_widget(edit_form.email) }}
                                        {{ form_label(edit_form.email) }}
                                    </div>
                                    <div class="">
                                        {{ form_widget(edit_form.imageFile) }}
                                        {{ form_label(edit_form.imageFile) }}
                                    </div>
                                    <div class="">
                                        {{ form_widget(edit_form.cvFile) }}
                                        {{ form_label(edit_form.cvFile) }}
                                    </div>
                                    <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Enregistrer</button>
                                    {{ form_end(edit_form) }}
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </main>
    {% endblock %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
